/** default css for main styles */
@use '../abstracts/' as *;

body,
header,
footer,
p {
    color: $color-grey-700;
    font-family: Montserrat;
}
header {

}
footer {

}
p {

}
a {
    color: $color-primary;

    &:hover {
        color: $color-grey-700;
    }
}