.home-strip {
    background-color: $color-grey-700;
}

.about-us-container {
    justify-self: center;
    max-width: $max-width;
    //width: 75%;
    padding: 6em 4em 6em 4em;
    .row {
        @include respond-below(md) {
            padding: 1em;
        }
        .about-us-text {
            height: 100%;
            padding: 1em 1.5em;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            background-color: $text-box-bg;
        }
        .about-us-card > img {
            box-shadow: $box-shadow;
        }
    }
    @include respond-below(md) {
        padding: 0;
    }
}

.goals-container {
    display: flex;
    //margin-bottom: 6em;
    .col-image {
        width: 50%;
        background-image: url('../img/goal-arrow-800.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col-text {
        div {
            margin: 1em 2.5em 2.5em 2.5em;
            h2,p,li {
                color: $color-white;
            }
            ul {
                li {
                    display: list-item;
                    margin: .5em 0;
                    // list-style-type: "🤯";
                    // padding-inline-start: 1ch;
                    list-style-image: url('../img/bullet-1.svg');
                }
            }
        }
    }
    @include respond-below(md) {
        flex-direction: column;
        .col {
            width: 100%;
        }
    }
}

.grey-img-bg {
   background-image: url('../img/grey-img-bg.jpg');
}
.test{margin-left:50px;animation:fadeInLeft 1.5s;animation-fill-mode:forwards}
