.home-strip {
    background-color: $color-grey-700;
}

.about-us-container {
    justify-self: center;
    max-width: $max-width;
    width: 75%;
    padding: 5em 4em 7em 4em;
    .about-us-text {
        h2 {
            margin-bottom: .5em;
        }
        p:nth-child(2) {
            margin-top: 5em;
            
        }
    }
    @include respond-below(md) {
        padding: 0;
    }
}

.goals-container {
    display: flex;
    //max-width: $max-width;
    .col {
        width: 50%;
    }
    .col-text {
        div {
            margin: 1.2em;
            h2,p,li {
                color: $color-white;
            }
            ul {
                li {
                    display: list-item;
                    margin: .5em 0;
                    // list-style-type: "🤯";
                    // padding-inline-start: 1ch;
                    list-style-image: url('../img/bullet-1.svg');
                }
            }
        }
    }
    @include respond-below(md) {
        flex-direction: column;
        .col {
            width: 100%;
        }
    }
}

.grey-img-bg {
   background-image: url('../img/grey-img-bg.jpg');
}
.test{margin-left:50px;animation:fadeInLeft 1.5s;animation-fill-mode:forwards}
// .test {
//     margin-left: 50px;
//     animation: fadeInLeft 1.5s;
//     animation-fill-mode: forwards;
//     h2 {
        
//     }
// }