.hwh-container {
    display: flex;
    @include respond-below(sm) {
        padding-right: 1em;
        padding-left: 1em;
    }

    .wp-block-columns {
        //margin-bottom: 0;
        figure {
            img {
                box-shadow: $box-shadow;
                object-fit: cover;
            }
        }
        .wp-block-column {
            box-shadow: $box-shadow;
            background-color: $text-box-bg;
            h2 {
                padding-top: 0 !important;
            }
            hr {
                background-color: $color-tertiary;
                height: 4px;
                border: none;
                width: 5%;
                margin-left: 0;
            }
            &:last-child {
                
            }
            h2 {
                padding: 0 1em;
                @include respond-below(sm) {
                    margin-top: 1em;
                    margin-bottom: .5em;
                }
            }
            p {
                padding: 0 1.6em;
            }
        }
    }

    .wp-block-image {
        margin: 0;
    }
}