footer {
    background-color: $color-grey-700;
    padding: 2.75em;
    .wp-block-columns {
        max-width: $max-width;
        margin-left: 4em;
        justify-content: space-between;
        @include respond-above(md) {                
            //justify-content: center;
        }
        margin-bottom: 0;
        .wp-block-column {
            margin-left: 2em;
            h2,p,a {
                color: $color-white;
            }
            ul {
                padding-left: 0;
                li {
                    list-style: none;
                }
            }
            @include respond-above(md) {                
                &:nth-child(even) {
                    padding-left: 4em;
                }
            }
        }
    }
    .container {
        .row {
            max-width: $max-width;
            padding: 3em inherit;    
            justify-content: center;
            .footer-col {
                h5, p, ul, li {
                    color: #fff;
                }
                h5 {
                    font-size: 1em;
                    text-transform: uppercase;
                    margin-top: 1em;
                    @include respond-above(sm) {
                        margin-top: 0;
                    }
                }
                ul {
                    padding-left: 1.3rem;
                    li {
                        padding: .2rem 0;
                    }
                }
                a {
                    color: #fff;
                    text-decoration: none;
                }
                a:hover {
                    color: $color-grey-300;
                }
                &:first-child {
                    h5 {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}  