.page-container {
    background-color: $color-white;
    .row:first-child {
        margin-left: .1em; margin-right: .1em;
        .footer-icon-title {
            background-color: $text-box-bg;
            margin-bottom: 1.2em;
            padding:0;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
        }
    }
    .footer-icon-card {
        margin: auto;
        background-color: $text-box-bg;
        padding: 2em 1.2em 2em 1.2em;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        @include respond-below(md) {
            margin-bottom: 1em;
            &:not(:last-child) {
                background-color: red;
            }
        }
    }
    .help-icons {
        margin-top: 2em;
        margin-bottom: 2em;
        max-width: $max-width;
        [class^="col-"],
        [class*=" col-"] {
            margin: 2em inherit;
            svg {
                fill:$color-primary;
                width: 6.5em;
                height: 6.5em;
            }
        }
        .icon-group-text {
            height: 9rem;
            @include respond-between(sm,md) {
                height: 12rem;
            }
        }
        .btn-icon-group {
            @include respond-below(sm) {
                margin-bottom: 2em;
            }
        } 
    }
}

.strip-bg {
    background-image: url('../img/grey-img-bg.jpg');
}
footer {
    background-image: url('../img/soloman.jpg');
    padding: 2.75em 0 0 0;
    a {
        font-size: 1em;
        text-decoration: none;
        line-height: 2.2em;
    }
    .widget-footer {   
        max-width: $max-width;
        margin: auto;
        padding: 2rem 1.2rem 0 1.2rem;
        .wp-block-columns {   
            margin: auto;
            margin: 0;
            padding: 0;         
            margin-bottom: 0;
            .wp-block-column {
                margin: 0;
                h2,p,a {
                    color: $color-white;
                }
                ul {
                    padding-left: .8em;
                    li {
                        list-style: none;
                        list-style-image: url('../img/bullet-1.svg');
                    }
                }
                @include respond-above(md) {                
                    &:nth-child(even) {
                        padding-left: 4em;
                    }
                }
            }
        }
    }
    .footer-bar {
        //border-top: 0.1em solid $color-white;
        max-width: 1240px;
        margin: 0 1.5rem;
        margin:auto;
        .row {
            margin: 1.5em 0;
            justify-content: center;
            color: $color-white;
        }
    }
}  