.widget-text-block {
    height: 25em;
    @include respond-above(md) {
        height: inherit;
    }
}
.sidebar-column, .sidebar-right {
  //background-color: $color-grey-100;
}
// sidebar css
aside {
    margin: auto;
    .widget-sidebar {
        width: 100%;
        background-color: $color-primary;
        margin: auto;
        h2 {
          color:#fff;
          font-size: 1.1em;
          margin: 0;
          padding: .6em 1em;
          text-transform: uppercase;
          font-weight: bold;
        }
        ul {
          background-color: $color-primary-300;
          list-style-type: none;
          padding-left: 0;
          li {
            padding: 0.5em 1.5em;
            cursor: pointer;
            &:nth-child(even) {
                background-color: $color-primary-200;  
            }
            a {
                //font-weight: 600;
                color: $color-grey-700;
                text-decoration: none;
            }
            &:hover {
              background-color: $color-primary-500;
              a {
                color: white;
              }
            }
          }
        }
    }
  }