// COLORS
$color-primary: #1D70A3;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-secondary: #BF2B39;
// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

$color-tertiary: #89CF34;
// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

$color-grey-100: #f7f7f7;
$color-grey-200: #eee;
$color-grey-300: #ccc;
$color-grey-350: #ADADAD;
$color-grey-400: #999;
$color-grey-500: #777;
$color-grey-600: #4B4B4B;
$color-grey-700: #383838;
$color-grey-800: #333;




$color-white: #fff;
$color-black: #000;