@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}   

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSansCondensed-Light.ttf') format('truetype');
    font-weight: normal;
}   

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
}   