@use '../abstracts/' as *;

.home-text-block-container {
    margin: 3em auto; 
    background-color: $color-primary-100;

    img {
        width: 100%;
        height: 25em;
        object-fit: cover; 
    }
    .row {
        [class^="col-"] {
            padding: 0 0;
        }
        .text-block {
            padding: 0 1.5em;
        }
    }
    &:nth-child(odd) {
        background-color: $color-primary-100;

        @include respond-above(sm) {
            .row {
                flex-direction: row-reverse;
            }
        }
    }    
}