/*----------------
		Font
------------------*/

// Global theme font.
$font__main: "Montserrat", times;

// Global code font
$font__code: "Montserrat", sans-serif, monospace;

// Fallback font when font is not loaded via WebFonts JS.
$font__fallback: sans-serif;

// Base line height.
$font__base-line-height: 30px;

body,
header,
footer,
p,
a {
    color: $color-font;
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}
body {
   
}
header {

}
footer {
    overflow: hidden;
}
p {

}
a {
    color: $color-primary;

    &:hover {
        color: $color-grey-700;
    }
}
