/*----------------
		Font
------------------*/
body,
header,
footer,
p,
a,
ul,
li {
    color: $color-font;
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.909em;
}
footer {
    overflow: hidden;
}
a {
    color: $color-primary;

    &:hover {
        color: $color-grey-700;
    }
}

h1,h2,h3,h4,h5 {
    font-family: Open Sans Condensed;
    color: $color-primary; 
    font-weight: 600;
    text-transform: uppercase;
}

h1, .page-heading {
    font-size: 2.2em;
}
.page-heading {
    color: $color-white;
    font-family: Raleway;
    font-weight: 800;
}
// h2 {
//     font-size: 1.45em;
//     line-height: 1.2em;
// }

h2 {
    margin-bottom: .5em;
    position: relative;
    font-size: 1.45em;
    line-height: 2.5em;
}
h2:after {
    position: absolute;
    content: "";
    height: 4px;
    width: 2em;
    //left: calc(50% - 2em);
    left: 0;
    right: 0;
    background-color: $color-tertiary;
    bottom: 2px;
}

h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.125em;
}

.sub-heading {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
}

/*------------------------
		Navigation
--------------------------*/

.navbar-toggler, .nav-item {
    font-size: 1.14em;
}

