.bd {
    border: 2px solid #000;
}
.bdl {
    border: 2px solid #fff;
}
.bg-red {
    background-color: red;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-50 {
    margin-left: 50px;
}

.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-50 {
    margin-right: 50px;
}
.height-10em {
    height: 10em;
}
.height-15em {
    height: 10em;
}
.height-20em {
    height: 20em;
}
.height-25em {
    height: 20em;
}
.height-30em {
    height: 30em;
}
.height-35em {
    height: 30em;
}
.height-40em {
    height: 40em;
}
.height-45em {
    height: 40em;
}
.height-50em {
    height: 50em;
}
.height-55em {
    height: 55em;
}
.height-60em {
    height: 60em;
}
.height-65em {
    height: 60em;
}
.height-70em {
    height: 70em;
}
.height-80em {
    height: 80em;
}
.height-85em {
    height: 85em;
}
