  @keyframes fadeInLeft {
    0% {
      transform: translateX(-200px);
      -webkit-transform: translateX(-200px);
      -moz-transform: translateX(-200px);
      -o-transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translate(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      opacity: 1%;
    }
  }
  .test {
    margin-left: 50px;
    animation: fadeInLeft 1.5s;
    animation-fill-mode: forwards;
  }