@use '../abstracts/' as *;

.blog-excerpt-container {
  .row {
    padding-left: 0;
    margin-left: 0;
    &:nth-child(odd) {
      background-color: $color-secondary-200; 
    } 
    &:nth-child(even) {
      background-color: $color-primary-200; 
    } 
    [class^="col-"] {
      padding-left: 0;
      &:nth-child(even) {
        padding: 1em;
      }
    }
  }
} 

aside {
  margin: auto;
  .widget-sidebar {
    .wp-block-group {
      width: 25em;
      background-color: $color-secondary;
      margin: auto;
      h2 {
        color:#fff;
        font-size: 1.2em;
        margin: 0;
        padding: .8em 1em;
        text-transform: uppercase;
        font-weight: bold;
      }
      ul {
        background-color: $color-secondary-200;
        list-style-type: none;
        li {
          padding: .5em 0;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}

