@use '../abstracts/' as *;

.container {
    background-color: #fff;
    //border: 1px outset #ccc;
    margin-bottom: 3.5em;
    .col-1-of-2 {
        padding: 0;
        background-color: $color-grey-600;
        .block-text-container {
            position: relative;
            padding:4em 2.5em;
            h4, p {
                color: #fff;
                margin-bottom: 1.4em;
            }
            p {
                font-size: 1.2em;
                margin-bottom:2.2em;
            }
        }
    }
    img {
        width: 100%;
    }
}