// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 124rem; // 1240px
$gutter-vertical: 4rem; //40px
$gutter-horizontal: 4rem; // 40px

$max-width: 1264px;

@include respond-below(lg) {

}

$nav-width: calc(#{$max-width} - 1.5rem);

.row {
    max-width: $max-width !important;
}

$box-shadow: 0 1px 3px $color-grey-400;
$text-box-bg: $color-grey-50;
$border-radius: 0;

